@page "/results"
@using System.Xml.Serialization
@using TechAptV1.Client.Models
@using TechAptV1.Client.Services
@inject IJSRuntime JS

<h3>Results</h3>
<p>The table shows the top N numbers generated. The download XML and Binary feature allows you to download the entire data set</p>

<div>
    <button class="btn btn-primary" @onclick="(async () => await this.DownloadXml())">Download XML</button>
    <button class="btn btn-primary" @onclick="(async () => await this.DownloadBinary())">Download Binary</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>IsPrime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.numbers)
            {
                <tr>
                    <td>@item.Value</td>
                    <td>@item.IsPrime</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    [Inject] public required ILogger<Threading> Logger { get; set; }
    [Inject] public required DataService DataService { get; set; }

    private List<Number> numbers = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        var data = this.DataService.Get(20);
        if (data != null)
        {
            this.numbers = data.ToList();
        }
    }

    /// <summary>
    /// Fetches all the records, serializes them to XML and downloads the file
    /// </summary>
    private async Task DownloadXml()
    {
        this.Logger.LogInformation("DownloadXml");
        XmlSerializer serializer = new XmlSerializer(typeof(List<Number>));
        using var stringWriter = new StringWriter();
        serializer.Serialize(stringWriter, numbers);
        var xmlContent = stringWriter.ToString();
        await JS.InvokeVoidAsync("downloadFile", "numbers.xml", "application/xml", xmlContent);
    }

    /// <summary>
    /// Fetches all the records, serializes them to Binary and downloads the file
    /// </summary>
    private async Task DownloadBinary()
    {
        this.Logger.LogInformation("DownloadBinary");

        using var memoryStream = new MemoryStream();
        using var writer = new BinaryWriter(memoryStream);
        foreach (var record in numbers)
        {
            writer.Write(record.Value);
            writer.Write(record.Value);
        }
        var binaryContent = memoryStream.ToArray();
        await JS.InvokeVoidAsync("downloadFile", "numbers.bin", "application/octet-stream", binaryContent);
    }
}
