<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TechAptV1.Client.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

<script>
    function downloadFile(fileName, contentType, content) {
        const link = document.createElement('a');
        link.download = fileName;
        link.href = 'data:' + contentType + ';base64,' + btoa(content);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    function downloadFileFromStream(fileName, contentType, contentStreamReference) {
        const url = URL.createObjectURL(contentStreamReference);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName;
        document.body.appendChild(anchorElement);
        anchorElement.click();
        document.body.removeChild(anchorElement);
        URL.revokeObjectURL(url);
    }
</script>
